<button class="btn btn-primary mb-10"><a routerLink="/admin/form" class="text-white">Thêm mới sản phẩm</a></button>
<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Image</th>
            <th>Description</th>
            <th>Categories</th>
            <th></th>
            <th></th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products , let i = index">
            <td>{{i}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td><img [src]="product.image" alt="" width="70px"></td>
            <td>{{product.description}}</td>
            <td *ngFor="let category of categories">{{product.category === category._id ? category.name : ""}}</td>
            <td class="">
                <a routerLink="/admin/products/{{product._id}}">
                    <button class="btn btn-info ">Detail</button>
                </a>
                <a routerLink="/admin/products/edit/{{product._id}}">
                    <button class="btn btn-warning">Edit</button>
                </a>
                <button class="btn btn-danger" (click)="onDelete(product._id)">Delete</button>
                <!-- <a [routerLink]="['/admin', 'product', product.id]"><button>Detail</button></a> -->
            </td>
        </tr>
    </tbody>
</table>