<hr>
<div class="flex flex-row ml-20 ">
    <div class=" flex-col pr-20 ">
        <h5>Chăm sóc khách hàng</h5>
        <div class="flex flex-col ...">
            <div>
                <a href="#">Trung Tâm Trợ Giúp </a></div>
            <div> <a href="#">Shopee Blog</a></div>
            <div> <a href="#">Shopee Mall</a></div>
            <div> <a href="#">Hướng Dẫn Mua Hàng</a></div>
            <div> <a href="#"> Hướng Dẫn Bán Hàng</a></div>
            <div> <a href="#"> Thanh Toán</a></div>
            <div> <a href="#"> Shopee Xu</a></div>
            <div> <a href="#"> Vận Chuyển</a></div>
            <div> <a href="#">Trả Hàng & Hoàn Tiền</a></div>
            <div> <a href="#">Chăm Sóc Khách Hàng</a></div>
            <div> <a href="#">Chính Sách Bảo Hành</a></div>
        </div>
    </div>
    <div class=" flex-row pr-20">
        <h5>Về shooppe</h5>
        <div class="flex flex-col ...">
            <div> <a href="#">Giới Thiệu Về Shopee Việt Nam</a></div>
            <div> <a href="#">Tuyển Dụng</a></div>
            <div> <a href="#">Shopee Mall</a></div>
            <div> <a href="#">Điều Khoản Shopee</a></div>
            <div> <a href="#">Chính Sách Bảo Mật</a></div>
            <div> <a href="#"> Chính Hãng</a></div>
            <div> <a href="#">Kênh Người Bán</a></div>
            <div> <a href="#">Flash Sales</a></div>
            <div> <a href="#">Chương Trình Tiếp Thị Liên Kết Shopee</a></div>
            <div> <a href="#">Chăm Sóc Khách Hàng</a></div>
            <div> <a href="#">Liên Hệ Với Truyền Thông</a></div>
        </div>
    </div>
    <div class=" flex-row">
        <h5>Theo dõi chúng tôi</h5>
        <div class="flex flex-col ...">
            <div>
                <a href="#">
                  SĐT:1112222
                </a>
            </div>
            <div> <a href="#">Email:asdasdbasd@gaml.com</a></div>
        </div>
    </div>
</div>
