<hr>
<div class="flex flex-row ml-20">
    <div class=" flex-col pr-20 ">
        <h5>Chăm sóc khách hàng</h5>
        <div class="flex flex-col ... ">
            <div>
                <a></a>
                <a routerLink="/">Trung Tâm Trợ Giúp </a></div>
            <div> <a routerLink="/">Shopee Blog</a></div>
            <div> <a routerLink="/">Shopee Mall</a></div>
            <div> <a routerLink="/">Hướng Dẫn Mua Hàng</a></div>
            <div> <a routerLink="/"> Hướng Dẫn Bán Hàng</a></div>
            <div> <a routerLink="/"> Thanh Toán</a></div>
            <div> <a routerLink="/"> Shopee Xu</a></div>
            <div> <a routerLink="/"> Vận Chuyển</a></div>
            <div> <a routerLink="/">Trả Hàng & Hoàn Tiền</a></div>
            <div> <a routerLink="/">Chăm Sóc Khách Hàng</a></div>
            <div> <a routerLink="/">Chính Sách Bảo Hành</a></div>
        </div>
    </div>
    <div class=" flex-row pr-20">
        <h5>Về shooppe</h5>
        <div class="flex flex-col ...">
            <div> <a routerLink="/">Giới Thiệu Về Shopee Việt Nam</a></div>
            <div> <a routerLink="/">Tuyển Dụng</a></div>
            <div> <a routerLink="/">Shopee Mall</a></div>
            <div> <a routerLink="/">Điều Khoản Shopee</a></div>
            <div> <a routerLink="/">Chính Sách Bảo Mật</a></div>
            <div> <a routerLink="/"> Chính Hãng</a></div>
            <div> <a routerLink="/">Kênh Người Bán</a></div>
            <div> <a routerLink="/">Flash Sales</a></div>
            <div> <a routerLink="/">Chương Trình Tiếp Thị Liên Kết Shopee</a></div>
            <div> <a routerLink="/">Chăm Sóc Khách Hàng</a></div>
            <div> <a routerLink="/">Liên Hệ Với Truyền Thông</a></div>
        </div>
    </div>
    <div class=" flex-row">
        <h5>Theo dõi chúng tôi</h5>
        <div class="flex flex-col ...">
            <div>
                <a routerLink="/">
                  SĐT:1112222
                </a>
            </div>
            <div> <a routerLink="/">Email:asdasdbasd@gaml.com</a></div>
        </div>
    </div>
</div>
