<main class="my-[20px]">
    <div class="w-[1440px] h-auto mx-auto">
        <div class="w-[1080px] h-auto mx-auto">
            <div class="w-[1080px] py-[10px] flex border-b-2 border-[#f2f2f2]">
                <div class="text-yellow-500">
                    <a routerLink="/" class="text-yellow-500 font-semibold">Trang chủ</a>
                </div>
                <div class="mx-2 text-[#5d5f6c]">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </div>
                <div class="text-yellow-500 font-semibold">
                    Chi tiết sản phẩm
                </div>
                <div class="mx-2 text-[#5d5f6c]">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </div>
                <div class="text-yellow-500 font-semibold">
                </div>
            </div>
            <div class="w-[1080px] h-auto flex justify-between mt-[20px]">
                <div class="w-[500px] h-[500px] mr-[20px] border">
                    <div>
                        <img [src]="product.image" alt="" class="w-[500px] h-[500px]">
                    </div>
                </div>
                <div class="w-[460px]">
                    <div class="text-[30px] font-semibold mb-3 w-[460px]">
                    </div>
                    <div class="text-[#51545f] mb-[20px] w-[460px]">
                        <h1 class="text-[21px] font-medium">Thông tin chung:</h1>
                        <div class="font-medium text-[16px] break-words"></div>
                    </div>
                    <div class="text-[#fe4c50] font-semibold text-2xl mb-5">
                        <h4> {{product.name}}</h4>
                    </div>
                    <div class="text-[#fe4c50] font-semibold text-2xl mb-5">
                        <h4> {{product.price}}</h4>
                    </div>
                    <div class="flex">
                        <div class="text-[#1e1e27] mt-1">
                            Số lượng:
                        </div>
                        <div class="mx-3 border h-[40px] w-[50px] flex justify-around">
                            <input type="number" id="inputValue" min="1" value="1" class="w-10 text-center mx-2">
                        </div>
                    </div>
                    <div class="mt-8">
                        <button data-id="${data.id}" id="btnAddToCart" class="bg-orange-400 h-10 w-44 rounded-sm text-white hover:bg-orange-800">Thêm vào giỏ hàng</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-[1080px] h-auto mx-auto ">
            <div class="text-[#5d5f6c] text-2xl font-medium mt-[50px] uppercase border-b-2 border-[#f2f2f2]">
                thông tin chi tiết sản phẩm
            </div>
            <div class="w-[1080px] my-[20px]">
                {{product.description}}
            </div>
        </div>
    </div>
</main>
