<div class="container">
    <a routerLink="/admin/users/create"><button class="btn btn-primary">Tạo mới</button></a>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>STT</th>
                <th>Name</th>
                <th>Email</th>
                <th>Mật khẩu</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of listUsers; let i = index">
                <td>{{i}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.password}}</td>
                <td><button class="btn btn-info" (click)="onDelete(user._id)">Xóa</button></td>
            </tr>
        </tbody>
    </table>
</div>
